# more info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @chanbakjsd

/.github/** @chanbakjsd @aryans1204
/deployment/** @chanbakjsd @aryans1204

/apps/cms/** @jack-thant
/apps/merch/** @chanbakjsd
/apps/web/** @jack-thant
/apps/challenges/** @BoonHianLim
/apps/web/features/merch/** @chanbakjsd
/apps/web/pages/merch/** @chanbakjsd

/packages/eslint-custom-config/** @chanbakjsd
/packages/nodelogger/** @chanbakjsd
/packages/schemas/** @chanbakjsd
/packages/schemas/lib/cms.graphql @jack-thant
/packages/tsconfig/** @chanbakjsd
/packages/types/** @chanbakjsd
/packages/types/lib/merch.ts @chanbakjsd
/packages/ui/** @chanbakjsd

