# more info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @realdyllon

/.github/** @realdyllon @aryans1204
/deployments/** @realdyllon @aryans1204

/apps/cms/** @jamiegoh
/apps/merch/** @chanbakjsd
/apps/web/** @xJQx
/apps/web/features/merch/** @chanbakjsd
/apps/web/pages/merch/** @chanbakjsd

/packages/eslint-custom-config/** @realdyllon
/packages/nodelogger/** @realdyllon
/packages/schemas/** @realdyllon
/packages/schemas/lib/cms.graphql @jamiegoh
/packages/tsconfig/** @realdyllon
/packages/types/** @realdyllon
/packages/types/lib/cms.ts @jamiegoh
/packages/types/lib/merch.ts @chanbakjsd
/packages/ui/** @xJQx
/packages/ui/merch/** @chanbakjsd

