.static {
  position: static
}

.table {
  display: table
}

.border-slate-100 {
  --tw-border-opacity: 1;
  border-color: rgb(241 245 249 / var(--tw-border-opacity))
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}
